@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}
/* About me section */
.about-section {
  position: relative;
  padding: 3em 3em;
  background: #2c5f2d;
  width: 100%;
}

.about_background-section {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 400px;
  background: #ffffff;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.about-content {
  display: flex;
  justify-items: center;
  align-items: center;
}
.my-img {
  position: relative;
  width: 40vw;
  z-index: 3;
}
.my-img img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.my-name {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5vw;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}
.about-me {
  position: relative;
  background-color: #ffffff;
  width: 60%;
  padding: 1.5em 0.5em;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
}

.about-me h3 {
  font-size: 2.5rem;
}
.about-me p {
  font-size: 1.1rem;
}

.about-me-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 3em;
}

.about-me-icons i {
  color: #000000 !important;
  font-size: 2.5rem;
  margin: 0.5rem;
  cursor: pointer;
}
/* End of about me section */

/* My work Section */
.my-work {
  padding: 3em 3em;
}
.my-work h3 {
  font-size: 3rem;
  margin-bottom: 0.8em;
}
.my-work-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 31.6%;
  height: 450px;
}
.card img {
  width: 100%;
  height: 62%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 0.8em 1.5em;
}

.card-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-content h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

.card-content p {
  font-size: 1rem;
}
.icons a {
  margin: 8px;
}

/* Contact Me */
.contact-me {
  width: 100%;
  padding: 3em 3em;
  background-color: #2c5f2d;
  color: #ffffff;
}

.contact-me-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.contact-me-content h3 {
  font-size: 2rem;
  margin: 0 0 0.8em;
}
.contact-me-content p {
  margin: 1.2em 0;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.contact-me-content a {
  text-decoration: underline;
}

.contact-icons {
  height: 40px;
  text-decoration: underline;
}

.contact-me-container-img {
  width: 50%;
  height: 440px;
  object-fit: cover;
}
.contact-me-icons {
  margin-top: 1.5rem;
}
.contact-me-icons i {
  color: #000000 !important;
  font-size: 2.3rem;
  margin-right: 1rem;
  cursor: pointer;
}
/* End of Contact me */

@media only screen and (max-width: 1200px) {
  /* About Me section */
  .about-section {
    padding: 1.5em;
  }

  .about-me {
    height: auto;
  }
  /* My work section */
  .card {
    width: 47.7%;
  }

  .contact-me {
    padding: 2em;
  }
}

@media only screen and (max-width: 1024px) {
  /*Tablets [601px -> 1200px]*/

  /* About me section */

  .about-content {
    display: block;
  }
  .my-name {
    bottom: 0;
    left: auto;
    transform: none;
    right: -171px;
    font-size: 3rem;
    font-weight: 800;
  }
  .about-me {
    margin: 5em auto;
    width: 80%;
    height: auto;
  }
  .about-me h3 {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  .about-me-icons i {
    font-size: 2.2rem;
  }

  .my-img img {
    float: left;
    width: 100%;
    height: 365px;
    padding: 0 20px 0 20px;
    margin-top: -7em;
  }
  /* End of about me section */

  /* My work section */
  .card {
    width: 47.7%;
  }

  .card-content h4 {
    font-size: 1.2rem;
  }

  .card-content p {
    font-size: 1rem;
  }
  /* End of my work section */

  /* Contact me section */
  .contact-me {
    height: 45%;
  }

  .contact-me-container-img {
    height: 300px;
  }

  .contact-me-content p {
    margin: 1em 0;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }

  .contact-icons {
    height: 30px;
  }

  .contact-icons i {
    font-size: 2rem;
  }
  /* End of contact me section */
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  /* About me section */
  .about-section {
    padding: 2em 1em;
    background-color: #2c5f2d;
    width: 100%;
    height: 70vh;
  }

  .about_background-section {
    height: 200px;
  }

  .my-img {
    position: relative;
    width: 40vw;
  }

  .my-img img {
    float: none;
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    padding: 0;
  }

  .my-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 700;
  }

  .my-img img {
    height: 300px;
  }

  .card {
    width: 100%;
  }

  .my-img {
    position: relative;
    width: 100%;
  }
  .my-img img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .about-me {
    position: relative;
    height: auto;
    box-shadow: none;
    width: 100%;
    padding: 1.5em 0.5em;
  }

  .about-me p {
    text-align: center;
  }

  .about-me-icons {
    justify-content: center;
  }
  .about-me-icons i {
    font-size: 3rem;
    margin: 0.3em;
  }

  /* my work section */

  .my-work {
    margin-top: 38em;
    padding: 3em 1em;
  }

  .my-work h3 {
    text-align: center;
    font-size: 2.5rem;
  }

  /* Contact me section */

  .contact-me {
    /* height: 50vh; */
    padding: 1em 0;
  }

  .contact-me-container {
    display: block;
  }

  .contact-me-container-img {
    width: 100%;
    height: 440px;
    padding: 0;
  }
  .contact-me-content {
    padding: 3em 3em;
  }

  .contact-me-icons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .contact-me-icons i {
    font-size: 3rem;
    margin-right: 2rem;
  }
  /* end of contact me section */
}
@media only screen and (max-width: 428px) {
  /*Small smartphones [325px -> 425px]*/
  /* my work section */

  .my-work {
    margin-top: 38em;
  }
  .contact-me-content {
    width: auto;
    padding: 3em 1.5em;
  }
}
